/* landing-page style.css */

/*----------------------------------------------------------*/
/* Dark Background Color ( Header and Footer )      #1F2937 */
/* Hero Main(48px extra-Bold ) and Logo Font (24px) #F9FAF8 */
/* Hero Secondary (18px)                            #E5E7EB */
/*                                                          */
/* Button and Call to Action color                  #3882F6 */
/* Information Header text (36px extra-bold)        #1F2937 */
/*                                                          */
/* Quote Section background Color                   #E5E7EB */
/* Quote Text (36px light italic)                   #1F2937 */ 
/*----------------------------------------------------------*/

:root {
    --page-background-color: #dce7f5;
    --main-background-color: #ffffff;
    --hero-background-color: #1F2937;
    --button-background-color: #3882F6;
    --cta-background-color: #3882F6;
    --primary-text-light: #F9FAF8;
    --secondary-text-light: #E5E7EB;
    --quote-background-color: #E5E7EB;
    --qoute-text-color: #1F2937;
    --info-text-color: #1F2937;
    background-color: var(--page-background-color);
}

html {
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


* {
    font-family: 'Roboto Slab', serif;
    /* border: 2px solid red; */    
}

body {
    height: auto;
    max-width: 960px;
    background-color: var(--main-background-color);
    margin: 0 auto;
}

/* Header */

header {
    background-color: var(--hero-background-color);
    color: var(--primary-text-light);
    height: auto;
}

header a{
    text-decoration: none;
    color: var(--secondary-text-light);
}

header ul{
    list-style: none;
}

/* Navigation */

nav {
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    display: inline-block;
}

.nav-links {
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--secondary-text-light); 
  }
  
.nav-item:hover a {
    color: var(--button-background-color);
    transition: 0.8s ease;
  }

/* Hero */

  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-cta h1 {
    font-size: 48px;
    color:var(--primary-text-light);
    font-weight: 800pc;
}

.hero-image img {
    display: flex;
    width: 400px;
    height: 250px;
}

/* Information Section */

#info {
    text-align: center;
    padding: 20px;
}

#info h2{
    color:var(--info-text-color);
    font-size: 36px;
    font-weight: 900;
    padding: 20px;
}

.articles-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.article {
    width: 150px;
    display: inline-block;
}

.article-text {
    font-weight: 100;
}

.article-image{
    width: 150px;
    height: 100px;
}

#quote {
    background-color: var(--quote-background-color);
    color: var(--qoute-text-color);
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    padding: 50px;
    height: auto;
}

#quote .author {
    text-align: right;
}

footer{
    position: static;
    bottom: 0;
    height: 40px;
    width: 960px;
    text-align: center;
    background: var(--hero-background-color);
    color: var(--secondary-text-light);
    padding-top: 10px;
}